<div class="container d-flex justify-content-center align-items-center h-50">
  <div class="row w-25">
    <div class="col">
      <h1>New Booking</h1>
      <%= render 'new-booking-form' %>
    </div>
  </div>
</div>
